appnope
asttokens
backcall
bcrypt
beautifulsoup4
blinker
certifi
charset-normalizer
click
decorator
dnspython
email-validator
executing
Flask
Flask-Bcrypt
Flask-DebugToolbar
Flask-SQLAlchemy
Flask-WTF
gunicorn
heroku
idna
ipython
itsdangerous
jedi
Jinja2
MarkupSafe
matplotlib-inline
parso
pexpect
pickleshare
prompt-toolkit
psycopg2-binary
ptyprocess
pure-eval
Pygments
python-dateutil
python-dotenv
requests
six
soupsieve
SQLAlchemy
stack-data
traitlets
typing_extensions
urllib3
wcwidth
Werkzeug
WTForms
